.map-main-nav-bar {
  display: flex;
  gap: 12px;
  padding: 25.5px 24px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  flex-wrap: wrap;
  align-items: center;
}

.map-main-nav-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-right: auto;
}
